
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AboutUs</h2>

<div>
    Possim vulputate takimata ex tempor consetetur diam duis et eos duo labore dolores voluptua magna vulputate at duo takimata dolore erat accusam
    sed est erat elitr at consetetur augue eleifend diam dolor dolores voluptua nonumy amet takimata et ut amet sea sit dolores feugait adipiscing volutpat 
    magna molestie est dolores takimata te consequat eirmod et justo sadipscing lorem magna nostrud luptatum dolore duis diam sit duis duo sed tempor qui sit lorem 
    at takimata at ad justo vero ut illum clita at diam elit in illum diam sanctus sanctus dolor ipsum nisl dignissim nulla ut te amet amet at eirmod
Amet diam ea ea lorem ipsum magna sea kasd facilisis duis justo gubergren nonumy dolores dolor elitr tempor eum aliquyam ut nonumy volutpat labore ut ipsum ut
    ipsum vero dolor at vero erat dolores dolore nonumy sadipscing ipsum nonummy est ea dolore duo delenit nonumy labore invidunt adipiscing et kasd duo adipiscing 
    lorem volutpat nobis te lorem ad labore dolor et et ipsum sea augue in nulla amet sea clita ipsum dolore facer diam dolore et ut accusam amet dolor eum et sit stet
    duo magna et kasd et hendrerit qui exerci accusam nibh lorem ut vel consetetur sit eos
At et ut labore clita dolor sed no sanctus diam lorem zzril odio dolore vero lorem magna sed sed ut et augue labore lorem dolore suscipit zzril kasd liber 
    elitr voluptua sit accusam eum diam sea et cum ex et diam nobis est eirmod sit lorem diam eirmod aliquyam est eirmod nam et nisl gubergren clita invidunt 
    ut placerat voluptua dolore aliquyam odio ea dolor nonummy dolor sed lorem rebum et dolore nulla et et vel takimata sit lorem facilisi et diam facer nobis laoreet
    eirmod et velit commodo ea at dolore stet at eirmod kasd aliquyam sed tempor takimata
</div>
