@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Praktyczne kursy";
}

    <nav class="kategorieHorizontal">
        <ul>
            <li>
                <a href="link" style="background-image: url(~/categories/aspnet.png)">
                    ASP.NET
                </a>
            </li>
        </ul>
        <a href="link">
            <img id="baner" src="~/images/baner.png" />
        </a>
    </nav>

    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="~/images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="~/courses/obrazekcss.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="~/images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="~/courses/obrazekaspnet.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
         </ul>
    </section>
